<br><br><%=form_for @company, url: clients_companies_path do |f|%>


<table><tbody>
  <tr>
    <td><%=f.label "Name"%></td>
    <td><%=f.text_field :name%></td>
  </tr>
 
  <tr>
    <td><%=f.label "Subdomain"%></td>
    <td><%=f.text_field :subdomain%></td>
  </tr>
  
  <tr>
  <td><%=f.label "Address1"%></td>
  <td><%=f.text_field :address1%></td>
  </tr>
  
  <tr>
    <td><%=f.label "Address2"%></td>
    <td><%=f.text_field :address2%></td>
  </tr>
  <tr>

    <td><%=f.label "ZIP"%></td>
    <td><%=f.text_field :zip%></td>
  </tr>

  <tr>
    <td><%=f.label "City"%></td>
    <td><%=f.text_field :city%></td>
  </tr>
  
  <tr>
    <td><%=f.label "Industry Type"%></td>
    <td><%=f.text_field :other_industry_type%></td>
      
  <tr>


    <td><%=f.label "Start Date"%></td>
    <td><%=f.text_field :year_start_date%></td>

  </tr>

  <tr>
    <td><%=f.label "End Date"%></td>  
    <td><%=f.text_field :year_end_date%></td>
  </tr>
  </tbody>
</table>
<%=f.submit "Save"%>
<%end%>


